.settings
logs
*/logs
target
*/target
README.md
*/README.md
*/config-example
docs
files
temp
config
config.*
config-example
secrets
docker-compose.yml*
compose.yml
compose-testing.yml
common/Dockerfile
mvnvm.properties
LICENSE
*/src/test
*/src/main/frontend/dist
*/src/main/frontend/node
*/src/main/frontend/node_modules
cli
