COMPOSE_PROJECT_NAME=opertusmundi_api_gateway

VERSION=1.0.0

PUBLIC_URL=https://web.opertusmundi.internal/

DATABASE_URL=jdbc:postgresql://postgres-1:5432/opertusmundi
DATABASE_USERNAME=opertusmundi

BPM_REST_BASE_URL=http://bpm-server:8000/engine-rest
BPM_REST_USERNAME=admin

MANGOPAY_CLIENT_ID=opertusmundi

CATALOGUE_BASE_URL=http://catalogueapi:5000/

INGEST_BASE_URL=http://ingest:5000/

TRANSFORM_BASE_URL=http://transform:5000/

MAILER_BASE_URL=http://mailer:8105/

MESSENGER_BASE_URL=http://messenger:8110/

RATING_BASE_URL=
RATING_USERNAME=

PROFILE_BASE_URL=http://profile:5000/

PID_BASE_URL=http://pid:5000/

ELASTICSEARCH_BASE_URL=http://elasticsearch-1:9200
ELASTICSEARCH_INDICES_ASSETS_INDEX_NAME=assets
ELASTICSEARCH_INDICES_ASSETS_VIEW_INDEX_NAME=assets_view
ELASTICSEARCH_INDICES_ASSETS_VIEW_AGGREGATE_INDEX_NAME=assets_view_aggregate
ELASTICSEARCH_INDICES_PROFILES_INDEX_NAME=profiles
