[submodule "common"]
	path = common
	url = https://github.com/OpertusMundi/java-commons.git
[submodule "api-gateway/src/main/frontend"]
	path = api-gateway/src/main/frontend
	url = https://github.com/OpertusMundi/frontend-marketplace.git
[submodule "cli"]
	path = cli
	url = https://github.com/OpertusMundi/cli.git
