.about{
  &__subtitle{
    font-size: em(30);
    font-family: $mainFont;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 65px;
    line-height: 1.2;
    max-width: 970px;
    @media(max-width:576px){
      font-size: em(16);
      line-height: unset;
    }
  }
  &__sections{
    padding-bottom: 65px;
    &__row{
      $row: &;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 65px;
      &__block{
        width:50%;
        padding:40px;
        transition: transform 0.8s;
        @media(max-width:768px){
          width:100%;
        }
        @media(max-width:576px){
          padding:15px;
        }
        &--main{
          background: #fff;
          border-radius: 10px;
          color:$darkColor;
          text-align: left;
          z-index: 1;
          @media(max-width:768px){
            margin-bottom: 20px;
          }
        }
        &__title{
          font-family: $titleFont;
          font-size: em(30);
          line-height: 1.2;
          margin-bottom: 30px;
          position: relative;
          left:50%;
          transform: translateX(-50%);
          display: inline-block;
          transition: all 0.8s;
          @media(max-width:576px){
            margin-bottom: 10px;
          }
        }
        &__text{
          line-height: 1.5em;
          @media(max-width:576px){
            font-size: em(16);
          }
          p{
            margin-bottom: 20px;
            @media(max-width:576px){
              margin-bottom: 5px;
            }
          }
        }
        &__partners {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin: 0 -5px;
          li {
              display: inline-block;    
              margin: 0 5px;
              margin-bottom: 15px;
          }
        }
      }
      &:nth-child(even){
        #{$row}__block--main{
          order: 2;
          transform: translateX(-50%);
          @media(max-width:768px){
            order: unset;
            transform: translateX(-100%);
          }
        }
        #{$row}__block--image{
          transform: translateX(50%);
          @media(max-width:768px){
            transform: translateX(100%);
          }
        }
      }
      &:nth-child(odd){
        #{$row}__block--main{
          transform: translateX(50%);
          @media(max-width:768px){
            transform: translateX(100%);
          }
        }
        #{$row}__block--image{
          transform: translateX(-50%);
          @media(max-width:768px){
            transform: translateX(-100%);
          }
        }
      }
      &.aos-animate{
        #{$row}__block{
          transform: translateX(0);
          &__title{
            left:0%;
            transform: translateX(0%);
          }
        }
      }
    }
  }
}