.assets {
    background-color: #f2f2f2;
    margin-top: $header_height;
    padding-bottom: 100px;
    &__head {
        padding-top: 40px;
        margin-bottom: 20px;;
        h1 {
            font-size: em(45);
        }
    }
}
.asset {
    background-color: #f2f2f2;
    width: 100%;

    &__map {
        position: absolute;
        z-index: 1;
        height: 550px;
        height: var(--asset-head-height);
        width: 100%;
        top: 0;
        left: 0;
        background: $gradient_main;

        &__inner {
            width: 100%;
            height: 100%;
            position: relative;
            opacity: 0.4;
        }
    }
    .s_container {
        position: relative;
        z-index: 2;
    }

    &__inner {
        display: flex;
        padding-bottom: 60px;
        margin-bottom: 100px;
        @media(max-width: 576px) {
            display: block;
            margin-bottom: 50px;
            padding-bottom: 10px;
        }
    }

    &__head {
        position: relative;
        color: #fff;
        padding: 130px 0 100px;
        @media(max-width: 576px) {  
            padding: 80px 0 50px;
        }

        .custom-select {
            select {
                cursor: pointer;
                appearance: none;
                outline: none;
                border: none;
                background: none;
                color: #fff;
                font-weight: 500;
                font-family: $mainFont;
                padding-right: 20px;
                letter-spacing: 0.02em;
                background-image: url('~@/assets/images/icons/arrow_down_white.svg');
                background-repeat: no-repeat;
                background-position: 100% center;
                background-size: 13px;
            }

            
        }
        

        &__breadcrumps {
            display: flex;
            align-items: center;
            color: #fff;
            font-weight: 500;
            font-size: em(13);
            img {
                display: block;
                margin-right: 10px;
                width: 8px;
            }
        }

        &__type {
            margin: 30px 0 15px;
            img {
                filter: invert(100) brightness(100);
                display: inline-block;
                margin-right: 10px;
                top: 2px;
                position: relative;

            }
        }

        &__title {
            display: flex;
            align-items: center;
            h1 {
                @include fluid-type(25px, 45px);
                display: inline-block;
                padding-right: 20px;;
            }
            img {
                display: block;
            }
        }

        &__favorites {
            svg {
                width: 33px;
                path {
                    &:last-child {
                        opacity: 0;
                    }
                    transition: opacity 0.2s ease;
                }
            }
            &:hover, &.active {
                svg {
                    path {
                        &:last-child {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &__version {
            display: flex;
            align-items: center;
            margin: 10px 0 20px;
            font-size: em(13);

        }
        &__rating {
            margin-left: 15px;
            span, i {
                font-weight: 500;
            }
        }
        &__data {
            
            li {
                margin-bottom: 8px;
                font-size: em(13);
            }
            strong {
                font-weight: 500;
                text-transform: uppercase;
                padding-right: 10px;
            }
        }
    }

    &__content {
        flex: 1;
        padding-right: 20px;
        @media(max-width: 576px) { 
            padding-right: 0px;
        }
    }

    &__sidebar {
        position: sticky;
        top: $header_height;
        width: 330px;
        height: 100%;
        padding-top: 150px;
        @media(max-width: 576px) {
            width: 100%;
            padding-top: 10px;
        }
    }

    &__shopcard {
        background: #fff;
        border-radius: 10px;
        padding: 25px;
        letter-spacing: 0.02em;
        @media(max-width: 576px) {
            padding: 15px;
        }

        &__errors {
            color: red;
            margin-top: -20px;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            font-size: em(13);
            font-weight: 500;
        }

        &__variations {
            &__row {
                display:flex;
                align-items: center;
                margin-bottom: 15px;
                label {
                    display: block;
                    margin-left: 10px;
                    font-style: em(20);
                    font-weight: 700;
                    span {
                        font-weight: 400;
                        font-size: em(13);
                    }
                }
                input {
                    transition: color 0.2s ease;
                }
                input:checked + label {
                    color: $secondColor;
                }
            }
        }
        &__priceoptions {
            font-size: em(13);
            padding-left: 22px;
            li {
                margin-bottom: 10px;
            }
        }

        &__addtocart {
            margin: 20px 0 30px;
            a {
                display: block;
                text-align: center;
                width: 100%;
            }
        }
        &__buyinfo {
            font-size: em(13);
            li {
                margin-bottom: 5px;
            }
        }

        &__pid {
            color: #6C6C6C;
            font-size: em(13);
            padding: 20px 0 30px
        }
    }

    &__otheroptions {
        margin-top: 35px;
        h5 {
            font-size: em(16);
            color: #6C6C6C;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    &__sections {
        margin-top: -54px;
        @media(max-width: 576px) {   
            margin-top: 20px;
        }
    }   
    &__section {
        width: 100%;
        // border: 2px solid #fff;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        margin-bottom: 50px;
        @media(max-width: 576px) {
            margin-bottom: 10px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
        &__head {
            padding: 15px;
            position: relative;
            @media(max-width: 576px) { 
                padding: 10px 15px;
            }
            h4 {
                color: #6C6C6C;
                font-size: em(16);
            }

            &__toggle {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                @media(min-width: 577px) {
                    display: none;
                }
            }

            &__tabs {
                list-style: none;
                margin-bottom: -8px;
                margin-top: 15px;
                padding: 0 15px;
                display: flex;
                align-items: center;
                @media(max-width: 576px) {  
                    display: none;
                }
                li {
                    display: inline-block;
                    font-size: em(13);
                    text-transform: uppercase;
                    color: $mainFontColor;
                    letter-spacing: 0.03em;
                    margin-right: 25px;
                    a {
                        color: inherit;
                        font-weight: 500;
                        position: relative;
                        transition: color 0.4s ease;
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -12px;
                            height:3px;
                            background: $secondColor;
                            width: 0;
                            transition: width 0.4s ease;
                        }
                        &:hover, &.active {
                            color: $secondColor;
                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &__tabs {
            list-style: none;
            padding-left: 0!important;
            margin: 0;
            li {
                display: none;
                font-size: #{$baseFontSize}px!important;
                &:first-child {
                    display: block;
                }
                p {

                }
            }
        }
        &__toggle {
            position: absolute;
            bottom: 0;
            display: block;
            width: 40px;
            height: 35px;
            background: #fff;;
            left: 50%;
            transform: translateX(-50%);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            transition: background 0.2s ease-in-out;
            @media(max-width: 576px) {  
                display: none;
            }
            img {
                position: relative;
                top: 55%;
                display: block;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: filter 0.2s ease-in-out;
            }
            &:hover {
                background: $secondColor;
                img {
                    filter: invert(100) brightness(100);
                }
            }
        }
        &__content {
            padding: 4px;
            @media(max-width: 576px) { 
                display: none;
            }

            &__inner {
                background: #f2f2f2;
                padding: 25px;
                border-radius: 8px;
            }
            h5 {
                font-weight: 700;
                font-size: em(18);
                margin-bottom: 10px;
            }
            a {
                color: $secondColor;
                text-decoration: underline;
                font-size: em(15);
            }
            p {
                font-size: em(15);
                line-height: 1.5em;
                margin-bottom: 25px;
            }
            ul {
                list-style: unset;
                padding-left: 20px;
                margin-bottom: 25px;
                li{
                    font-size: em(15);
                    line-height: 1.5em;
                }
            }
        }
        &__overview {
            .asset__section__content__inner {
                display: flex;
                flex-wrap: wrap;
                @media(max-width: 576px) { 
                    display: block;
                }
            }
            &__left {
                padding-right: 20px;
                flex: 1;
            }
            &__right {
                width: 30%;    
                min-width: 250px;
                @media(max-width: 576px) {  
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
    }

    &__related {
        background: #BCBCBC;
        padding: 50px 0px;

        h5 {
            color: #fff;
            font-family: $titleFont;
            @include fluid-type(20px, 30px);
            letter-spacing: 0.04em;
            margin-bottom: 15px;
        }
        h6 {
            color: #fff;
            letter-spacing: 0.04em;
            font-size: em(15);
            font-weight: 500;
            padding-top: 15px;
            margin-bottom: 20px;
        }

        &__content {
            display: flex;
            @media(max-width: 576px) {
                display: block;
            }
            &__left {
                padding-right: 20px;
                flex: 1;
                @media(max-width: 576px) {  
                    padding-right: 0px;
                }
            }
            &__right {
                width: 330px;
                @media(max-width: 576px) { 
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }
}

.asset-owner {
    &__inner {
        display: flex;
        @media(max-width: 768px) {
            align-items: center;
        }
        &__logo {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            border: 2px solid $darkColor;
            text-align: center;
            img {
                position: relative;
                top: 50%;
                left: 50%;
                display: block;
                transform: translate(-50%,-50%);
                width: 100%;
                padding: 12px;
            }
        }
        &__info {
            flex: 1;
            padding-left: 15px;
            &__name {
                padding-bottom: 3px;;
                svg {
                    width: 17px;
                    vertical-align: middle;
                    margin-top: -3px;
                    path {
                        transition: opacity 0.2s ease;
                        fill: $darkColor!important;
                        &:last-child {
                            opacity: 0;
                        }
                    }
                }
                a {
                    color:$secondColor;
                    text-decoration: underline;
                    display: inline-block;
                    margin-right: 10px;
                    font-weight: 500;;
                    font-size: em(14);
                    &:hover {
                        path {
                            &:last-child {
                                opacity: 1;
                            }
                        }   
                    }
                }
            }
            .rating {
                color: $darkColor;
                font-size: em(12);
            }
            &__country {
                font-size: em(12);
                padding: 4px 0;
            }
            &__date {
                font-size: em(12);
                color: #6C6C6C;
            }

        }
    }
    &--big{
        margin-bottom: 50px;
        @media(max-width: 1300px) { 
            font-size: 15px;
        }
        .asset-owner__inner__logo{
            width: 207px;
            height: 207px;
            border-radius: 50%;
            @media(max-width: 1300px) {
                width: 180px;
                height: 180px;
            }
            @media(max-width: 768px) {
                width: 130px;
                height: 130px;
            }
            @media(max-width: 374px) {
                width: 110px;
                height: 110px;
            }
            img{
                padding:40px;
                @media(max-width: 768px) {
                    padding:30px;
                }
                @media(max-width: 374px) {
                    padding:15px;
                }
            }
        }
        .asset-owner__inner__info {
            &__name{
                margin-bottom: 10px;
                a{
                    text-decoration: none;
                    font-size: em(40);  
                    line-height: 1;  
                }
            }
            .rating,
            &__country{
                font-size: em(20);
                margin-bottom: 5px;
            }
            &__date{
                font-size: em(18);
                margin-bottom: 15px;
            }
            .btn--std{
                display: inline-block;
            }
        }
    }
}

.asset_card {
    $ac: &;
    display: block;
    position: relative;
    color: $darkColor;
    width: 100%;
    margin-bottom: 20px;
    @media(max-width: 576px) { 
        margin-bottom:15px;
    }
    &:last-child {
        margin-bottom: 0px;
    }

    &--sm {
        font-size: 15px;
        #{$ac}__top__right, #{$ac}__top__left img { 
            display: none;
        }
        #{$ac}__top {
            span {
                margin-left: 0px;
                margin-right: 15px;
            }
        }
        #{$ac}__inner { 
            padding: 10px;
            border-radius: 10px;
        }
        #{$ac}__center {  
            padding: 1px 0;
        }
        #{$ac}__title, #{$ac}__price {  
            font-size: em(20);
        }
        #{$ac}__view {   
            width: 60px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-left: 10px;
        }
        &:hover {
            #{$ac}__inner {
                border-color: $secondColor;
                @media(min-width: 577px) {  
                    width: calc(100% - 50px)!important;
                }
            }
        }
    }

    &__view {
        content: "";
        position: absolute;
        right: 1px;
        top: 0;
        height: 99.9%;
        width: 100px;
        background: $secondColor;
        color: #fff;
        display: flex;
        text-align: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: 20px;;
        span {
            width: 100%;
            text-align: center;
            font-size: em(15);
            font-weight: 500;
            letter-spacing: 0.03em;
        }

    }

    &__inner {
        position: relative;
        z-index: 1;
        background: #fff;
        border: 2px solid #fff;
        border-radius: 20px;
        padding: 30px;
        width: 100%;
        transition: all 0.2s ease-in-out;
        @media(max-width: 576px) { 
            padding: 15px;
            border-radius: 10px;
        }
    }

    &:hover {
        #{$ac}__inner {
            border-color: $secondColor;
            @media(min-width: 577px) {  
                width: calc(100% - 80px);
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: em(14);
        @media(max-width: 576px) {
            font-size: em(12);
        }
        img {
            width: 25px;
        }
        span {
            margin-left: 20px;
            @media(max-width: 576px) {
                margin-left: 10px;
            }
        }
    }

    &__center {
        padding: 20px 0 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 576px) {  
            padding: 15px 0 12px;
        } 
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: em(14);
            .rating {
                color: $darkColor;
            }
            &__info {
                @media(max-width: 576px) {  
                    display: none;
                }
                span {
                    margin-left: 20px;
                }
            }
        }
        &__right { 
            display: flex;
            align-items: center;
            img {
                width: 20px;
            }
            span {
                padding-right: 5px;
                font-size: em(14);
            }
        }
    }

    &__title {
        font-family: $titleFont;
        font-size: em(30);
        letter-spacing: 0.02em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 15px;
        @media(max-width: 576px) {   
            overflow: hidden;
            text-overflow: unset;
            font-size: em(20);
        }
    }
    &__price {
        font-family: $titleFont;
        font-size: em(30);
        letter-spacing: 0.02em;
        @media(max-width: 576px) {   
            font-size: em(20);
        }
    }
}