@font-face {
    font-family: 'Space Grotesk';
    src:  url('~@/assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
          url('~@/assets/fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');