.dashboard__form {

    &__nav {
        width: 100%;
		background-color: transparent;
        padding: 0;
        display: flex;
        justify-content: space-between;
        border: 2px solid $secondColor;
        position: sticky;
        top: calc(#{$header_height} + 20px);
        background: #f2f2f2;
        &:before {
            content: "";
            background: #f2f2f2;
            // background: red;
            height: 20px;
            width: calc(100% + 4px);
            top: -22px;
            left: -2px;
            position: absolute;
        }
        li {
            position: relative;
            text-align: center;
            flex: 1;
            // overflow-y: hidden;
            a {
                position: relative;
                display: block;
                width: 100%;
                font-family: $mainFont;
                font-size: em(20);
                font-weight: 700;
                color: $mainFontColor;
                padding: 15px 0;
                letter-spacing: 0.03em;
                transition: all 0.2s;
                color: $secondColor;
                padding-left: 27px;
                pointer-events: none;
                @media(max-width: 1300px) {
                    font-size: em(16);
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    right: -26px;
                    width: 54px;
                    height: 54px;
                    transform: scale(0.719) rotate(45deg);
                    z-index: 1;
                    border-radius: 0 0px 0 50px;
                    background: #f2f2f2;
                    transition: background 0.2s;
                    box-shadow: 2px -2px 0 1px $secondColor;
                    @media(max-width: 1300px) { 
                        right: -24px;
                        width: 49px;
                        height: 49px;
                    }
                }
                &.active {
                    background: $secondColor;
                    color: #fff;
                    &:before {
                        background: $secondColor;
                    }
                }
            }
            &:first-child {
                a{
                    padding-left: 10px;
                }
            }
            &:last-child {
                a {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    &__steps {
        background: #fff;
        padding: 30px;
        // min-height: 1000px;
    }
    &__step {
        max-width: 700px;
        margin:0 auto;
        padding: 40px 0;

        &--delivery {
            max-width: 900px;
        }

        &__title {
            margin-bottom: 40px;
            h3 {
                font-size: em(20);
                font-weight: 700;
            }
            p {
                color: #6C6C6C;
                font-size: em(14);
                line-height: 1.3em;
            }
        }

        &__pricing-model {
            &__add, &__remove {
                color: $darkColor;
                text-transform: uppercase;
                font-size: em(13);
                font-weight: 500;
            }
            &__remove {
                margin-top: -12px;
            }
        }

        &__contract {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &__seperator {
                width: 150px;
                text-align: center;
                font-size: em(16);
                font-weight: 500;
                margin-bottom: 5px;
            }

            &__inner {
                flex: 1;
                h5 {
                    font-size: em(16);
                    font-weight: 500;
                    margin-bottom: 5px;
                }
                p {
                    color: #6C6C6C;
                    font-size: em(14);
                    line-height: 1.3em;
                    margin-bottom: 45px;
                }
                a {
                    color: $darkColor;
                    font-size: em(14);
                    font-weight: 500;
                    text-transform: uppercase;
                    &:hover {
                        color: $secondColor;
                    }
                }
            }
        }

        &__delivery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__inner {
                width: 50%;
                padding-bottom: 15px;;
                &:nth-child(2) {
                    padding-left: 15px;
                    border-left: 1px solid $darkColor;
                    margin-top: 27px;
                }
            }

            &__access {
                margin-top: 45px;
            }
        }

        &__payment {
            margin-top: 45px;
            max-width: 450px;
            .credit-card-field {
                input {
                    box-shadow: none;
                }
                &.is-focused {
                    box-shadow: none!important;
                    border-color: $darkColor!important;
                }
                &.form-control {
                    min-height: calc((0.55rem * 2) + (1rem * 1.5) + (1px * 2))!important;
                    border: 1px solid $darkColor;
                    border-radius: 25px;
                    font-size: em(16);
                    // padding: 11px 20px 10px;
                    box-shadow: none;
                    background: #fff;;
                }
            }
        }
    }

    &__navbuttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__review {
        display: flex;
        width: 100%;
        justify-content: space-between;
        &__inner {
            width: calc(50% - 30px);
        }

        &__item {
            margin-bottom: 40px;

            &__head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #6C6C6C;
                h5 {
                    font-size: em(20);
                    font-weight: 700;
                }
                a {
                    color: $darkColor;
                    font-size: em(12);
                }
            }
            &__body {
                font-size: em(14);
                color: #6C6C6C;
                ul {
                    li {
                        margin-bottom: 10px;;
                    }
                }
                strong {
                    font-weight: 500;
                    display: inline-block;
                    width: 130px;
                    padding-right: 20px;
                }
            }
        }
    }

    &__uploading {
        background: #fff;
        border-radius: 20px;
        position: relative;
        &__inner {
         height: calc(100vh - 170px);   
         min-height: 400px;
         @media(max-width: 1300px) {
            height: calc(100vh - 130px);   
         }
        }
        &__body {
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            h4 {
                @include fluid-type(30px, 45px);
            }
            p {
                margin-top: 20px;
                font-size: em(14);
            }
            &__btns {
                margin-top: 40px;
            }
        }
        &__pbar {
            height: 80px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid $secondColor;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            overflow: hidden;
            span {
                display: block;
                height: 100%;
                background: $secondColor;
                width: 0%;
            }
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: em(30);
                font-weight: 500;
                color: $secondColor;
                color: #E6F500;
                mix-blend-mode: difference;
                z-index: 10;
            }
        }
    }

    &__errors {
        max-width: 700px;
        margin: 0 auto;
        border: 2px solid red;
        color: red;
        padding: 10px;
        border-radius: 5px;
        font-size: em(15);
        font-weight: 500;
        text-align: center;
    }
}


.form-group {
    margin-bottom: 25px;
    position: relative;
    &--full {
        flex: 1;
    }
    &__stickyright{
        position: absolute;
        top:0;
        right:-100px;
        &__text{
            font-size: em(14);
            text-decoration: underline;
            text-align: center;
            margin-top: 10px;
        }
    }
    &--inline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-width: 245px;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-right: 15px;
        label {
            width: unset!important;
            padding-right: 20px;
            color: $darkColor;
            font-weight: 400!important;
        }
        input {
            width: 100px!important;
            flex:0 1 100px;
        }
        .errors {
            flex: 0 0 100%;
            min-width: 100%;
            position: absolute;
            bottom: 0;
        }
        .multiselect {
            width: unset!important;
            flex:0 1 135px;
        }
    }
    label {
        width: 100%;
        display: block;
        font-size: em(14);
        margin-bottom: 10px;
        font-weight: 500;
        letter-spacing: 0.03em;
    }
    &__text {
        width: 100%;
        display: block;
        border: 1px solid $darkColor;
        border-radius: 25px;
        font-size: em(16);
        padding: 11px 20px 10px;
        margin-bottom: 10px;
        outline: none;
        font-family: $mainFont;
        
        &--cvc {
            width: 80px;
        }
        &--expdate {
            width: 95px;
        }
        &--card {
            flex: 1;
        }
    }
    textarea {
        font-family: $mainFont;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        display: block;
        border: 1px solid $darkColor;
        border-radius: 20px;
        font-size: em(16);
        padding: 11px 20px 10px;
        margin-bottom: 10px;
        outline: none;
    }
    .errors {
        color: red;
        font-size: em(14);
    }
    .multiselect {
        margin-bottom: 10px;
        &__tags {
            border: 1px solid $darkColor;
        }
        &__content {
            color: $darkColor;
            font-size: em(16);
            
        }
        &__content-wrapper {
            border-color: $darkColor;
        }
        &__single {
            font-weight: 500;
        }
        &__option {
            &--highlight {
                background: #f3f3f3;
                color: $darkColor;
                span {
                    // font-weight: 500;
                }
            }
            &--selected {
                background: rgba(51, 51, 51, 0.5);
                span {
                    font-weight: 500;
                }
                
            }
        }
    }
}
.form-group-double { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-group {
        flex: 0 1 calc(50% - 10px);
    }
}
.form-group-multiple { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-group { 
        position: relative;
        padding-left: 10px;
        &:first-child {
            padding: 0;
        }
        .errors {
            position: absolute;
            top: 100%;
            width: 100%;
        }
    }
}


.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 25px!important;
    padding-top: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: $mainFont;

    span {
        display: block;
        font-size: em(14);
        padding-top: 3px;
        color: #6C6C6C;
    }
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 30px;
    width: 30px;
    background: #fff;
    border: 3px solid #190aff;
    border-radius: 3em;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #fff;
}

.control input:checked ~ .control_indicator {
    background: #ffffff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #fff;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control-radio .control_indicator:after {
    left: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #190AFF;
    transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}.control-radio .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.349rem;
    margin-left: -1.029rem;
    margin-top: -1.042rem;
    background: #190AFF;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

.asset-pricing-model {
    > div {
        display: flex;
        // justify-content: space-between;
    }
    .multiselect__tags {
        border-radius: 20px;
    }
}

.vdp-datepicker__calendar .cell.selected {
    background: $secondColor!important;
    color: #fff;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border-color: $secondColor!important;
}