.infopage { 
  height: 100vh;
  background: $gradient_main;
  width: 100%;
  padding-top: $header_height;
  min-height: 500px;
  .shape {
    svg {
      height: 120%;
    }
  }

  &__content {
    z-index: 1;
    position: relative;
    padding: 0 15px;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    color: #fff;
    h1 {
      color: #fff;
      @include fluid-type(30px, 45px);
    }
    p {
      max-width: 500px;
      font-size: em(15);
      line-height: 1.6em;
      margin: 20px auto 50px;
    }
  }
}