.login {
  width: 100%;
  min-height: 100vh;
  background: #F2F2F2;
  padding: 60px 15px;
  @media(max-width: 576px) {
    padding: 30px 15px;
  }

  &__content {
    position: relative;
    text-align: center;
    
    &__logo {
      display: inline-block;
      margin-bottom: 60px;
      @media(max-width: 576px) { 
        max-width: 150px;
        margin-bottom: 40px;
      }
    }
    h1 {
      @include fluid-type(30px, 45px);
    }
  }

  &__form {
    max-width: 360px;
    position: relative;
    margin: 0 auto;
    margin-top: 130px;
    @media(max-width: 576px) {  
      margin-top: 60px;
    }
    &__group {
      margin-bottom: 30px;
      position: relative;
      input {
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 30px;
        font-size: em(17);
        padding: 13px 20px;
        outline: none;
        letter-spacing: 0.02em;
        border: 2px solid $secondColor;
      }
      &__error {
        position: absolute;
        bottom: -20px;
        width: 100%;
        font-size: em(14);
        color: red;
        left: 0;
        width: 100%;
        text-align: center;
      }
    }
    .btn {
      margin-top: 20px;
      min-width: 200px;
      font-weight: 500;
      font-size: em(17);
      padding: 14px 20px 12px;
    }

    &__errors {
      font-size: em(14);
      color: red;
    }
  }

  &__helpers {
    margin-top: 50px;
    a {
      font-size: em(15);
      display: inline-block;
      color: $darkColor;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
      &:hover {
        color: $secondColor;
      }
    }
  }
}