.thread{
  max-width: 1000px;
  position: relative;
  &__main{
    height: calc(100vh - 370px);
    overflow: auto;
    padding-right: 10px;
  }
  &__row{
    margin-bottom: 50px;
    &__date{
      text-align: right;
      font-size: em(12);
      margin-bottom: 10px;
      color: $secondColor;
    }
    &__body{
    display: flex;
    flex-wrap: wrap;
     &__logo{
      display: inline-block;
      margin: 0px 25px;
     } 
     &__message{
      flex: 1;
      padding: 15px;
      background: #fff;
      border-radius: 10px;
      font-size: em(14);
      p{
        margin-bottom: 10px;
      }
     }
    }
    &:nth-child(even){
      .thread__row__date{
        text-align: left;
      }
      .thread__row__body__logo{
        order: 2;
      }
    }
  }

  &__bottom{
    background: #f2f2f2;
    padding-right: 10px;
    &__block{
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
      textarea{
        flex: 1;
        border-radius: 10px;
        padding: 15px 20px;
        font-size: em(14);
        min-height: 100px;
      }
      &__logo{
        margin: 0 25px;
      }
    }
  }
}