.page {
    // padding-top: $header_height;
    //overflow: hidden;
    background: #f2f2f2;
    &--nooverflow {
        overflow: hidden;
    }
    &__hero {
        height: 450px;
        @media(max-width: 768px) {
            height: 350px;
        }
        width: 100%; 
        background: $gradient_main;
        &__inner {
            position: relative;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;

            h1 {
                @include fluid-type(30px, 45px)
            }
            h2 {
                @include fluid-type(16px, 18px);
                font-family: $mainFont;
                font-weight: 500;
                max-width: 975px;
                margin: auto;
                margin-bottom: 65px;
            }
        }

        &--about{
            background-attachment: fixed;
            height: 100%;
            .page__hero__inner{
                padding-top: 177px;
                top: unset;
                transform: unset;
            }
        }
    }
}


.servicelist {
    // margin-bottom: -3vw;
    // overflow: hidden;
    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        justify-content: space-between;
        margin-top: -3vw;
        @media(max-width: 767px) {   
            margin-top: 30px;
            // margin-bottom: 30px;;
        }
        &:last-child {
            .servicelist__row__line {
                // display: none;
                border: 4px solid #f2f2f2;
                height: calc(50% - 3vw);
            }
        }
        &:nth-child(even) {
            .servicelist__text {
                @media(min-width: 768px) { 
                    order: 2;
                }
            }
            .servicelist__image {
                @media(min-width: 768px) { 
                    order: 1;
                }
                @media(max-width: 767px) {  
                    text-align: left;
                }
                img {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }
        }
        &__line {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            border: 1px dashed #6C6C6C;
            background: #fff;;
            @media(max-width: 767px) {
                display: none;
            }
            &:before {
                content: "";
                width: 30px;
                height: 40px;
                position: absolute;
                background: #f2f2f2;
                // border-radius: 30px;
                left: -15px;
                top: -15px;
            }
            &:after { 
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                background: #6C6C6C;
                border-radius: 10px;
                left: -5px;
                top: 0px;
            }

        }
    }
    &__text {
        flex: 0 1 47%;
        padding: 7vw 5vw;
        align-self: center;
        @media(max-width: 767px) { 
            flex: 0 1 100%;
        }
        &__inner {
            max-width: 650px;
            margin:0 auto;
        }   
        h3 {
            @include fluid-type(30px, 45px);
            margin-bottom: 20px;
            line-height: 1em;
        }
        p {
            line-height: 1.5em;
        }
    }
    &__image {
        flex: 0 1 47%;
        @media(max-width: 767px) { 
            flex: 0 1 100%;
            text-align: right;
        }
        img {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: inline-block;
            @media(max-width: 767px) {  
                width: calc(100% - 15px);
            }
        }
    }
}