.asset_search {
    width: 100%;
    border-radius: 35px;
    overflow: hidden;
    background: #FFFFFF;
    border: 2px solid $secondColor;
    @media(max-width: 576px) {     
        border-radius: 26px;
        font-size: 15px;
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 999;
    }
    &__upper {

        position: relative;
        width: 100%;
        z-index: 999;

        &__input {
            width: 100%;
            padding: 20px 35px;
            display: block;
            border: none;
            outline: none;
            box-shadow: none;
            font-size: em(20);
            @media(max-width: 576px) {   
                padding: 15px 25px;
            }
        }

        &__icon {
            position: absolute;
            cursor: pointer;
            right: 35px;
            top: 50%;
            transform: translateY(-50%);
            transition: opacity 0.2s ease;
            @media(max-width: 576px) {   
                right: 25px;
            }
            &--close {
                opacity: 0;
            }
            &--open {
                opacity: 1;
            }
        }

        &.open {
            .asset_search__upper__icon {
                &--close {
                    opacity: 1;
                }
                &--open {
                    opacity: 0;
                }
            }
        }

        &--sm{
            width: 360px;
            border: 0px;
            .asset_search__upper{
                &__input{
                    padding: 10px 25px;
                    font-size: em(14);
                }
                &__icon{
                    right: 20px;
                    img{
                        height: 15px;
                    }
                }
            }
        }

    }

    
    &__resultscont {
        position: relative;
        z-index: 1000;
        display: block;
        text-align: center;
        background: #fff;
        transition: height .25s ease;
        &:not(.active) {
            // display: none;
        }
        

        &__filters {
            width: 100%;
            text-align: left;
            display: flex;
            justify-content: space-evenly;
            border-top: 2px solid $secondColor;
            border-bottom: 2px solid $secondColor;
            li {
                display: inline-block;
                width: 50%;
                text-align: center;
                a {
                    display: block;
                    padding: 10px 0;
                    font-size: em(20);
                    font-weight: 700;
                    color: $mainFontColor;
                    transition: all 0.2s ease;
                    &.active {
                        background: $secondColor;
                        color: #fff!important;
                    }
                    &:hover { 
                        color: $secondColor;
                    }
                }
                &:first-child {
                    a {
                        border-right:2px solid $secondColor;
                    }
                }
            }
        }

        &__results {
            width: 100%;
            text-align: left;
            max-height: 250px;
            overflow-y: auto;
            li {
                width: 100%;
                &:first-child {
                    a {
                        padding-top: 15px;
                    }                
                }
                &.no_results {
                    padding: 15px;
                }
                a {
                    display: block;
                    width: 100%;
                    padding: 10px 15px;
                    color: $mainFontColor;
                    transition: background 0.2s ease;
                    h5 {
                        font-weight: 700;
                        font-size: em(20);                    
                    }
                    span {
                        font-size: em(12);
                        color: #6C6C6C;
                        display: block;
                        margin-top: 0px;
                    }
                    &:hover {
                        background: #F2F2F2;
                        color: $mainFontColor;
                    }
                }

            }
        }

        &__action {
            font-size: em(12);
            color: $mainFontColor;
            display: inline-block;
            padding: 15px 0;
        }
    }
    &--grey-border{
        border: 1px solid $darkColor;
    }
}