/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: $mainFont;
  font-weight: 500;
  margin-left: -15px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
  

  &.select-arrow-active {
    background: #f2f2f2;
    color: #6C6C6C;
  }
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 15px;
  width: 9px;
  height: 7px;
  background-image: url('~@/assets/images/icons/select_arrow.svg');
  background-repeat: no-repeat;
  background-size: 9px 7px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  // transform: rotate(-180deg)
  background-image: url('~@/assets/images/icons/select_arrow_blue.svg');
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-weight: 500;
}

/* Style items (options): */
.select-items {
  transition: all 0.4s ease;
  position: absolute;
  background-color: #f2f2f2;
  font-weight: 500;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  div {
    color: #6C6C6C
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  // background-color: rgba(0, 0, 0, 0.1);
  color: $secondColor!important;
}