<th:block 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:fragment="googleanalytics-tracker">
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async 
	th:src="https://www.googletagmanager.com/gtag/js?id=${@environment.getProperty('opertusmundi.googleanalytics.tracker-id')}">
  </script>
  <script th:data-tracker-id="${@environment.getProperty('opertusmundi.googleanalytics.tracker-id')}">
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', document.currentScript.getAttribute('data-tracker-id'));
  </script>

</th:block>
